.pantalla-dividida {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.pantalla-dividida .blackside {
    width: 50%;
}

.pantalla-dividida .Aboutpic img {

    background-image: url("img-video/Nieto1Clear.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100vh;
}

.change {
    cursor: pointer;
    perspective: 210px;
    padding-top: 30px;
    margin-top: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-change {

    --btn-height: 200px;
    --half-btn-height: calc(var(--btn-height) / 2);
    text-align: center;
    height: var(--btn-height);
    width: 320px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;
    transform: translateZ(calc(-1 * var(--half-btn-height)));
}

.btn-change:hover {
    transform: rotateX(-90deg) translateY(var(--half-btn-height));
}

.side {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    backface-visibility: hidden;
}

.default-side {

    background-color: var(--blue);
    color: var(--gold);
    transform: translateZ(var(--half-btn-height));

}

.hover-side {
    color: blue;
    background-color: gold;
    transform: rotateX(90deg) translateZ(var(--half-btn-height));
}

.container {
    background-color: transparent;
    backdrop-filter: blur(25px);
    margin: 40px auto;
    border-radius: 20px;
    padding: 10px 20px;
    border: 2px;
    width: 220px;
    box-shadow: 10px 10px 20px black;
    transition: all 400ms ease-out;
}

@media screen and (min-width: 420px) {
    .container {
        width: 280px;
    }
}

@media screen and (min-width: 520px) {
    .container {
        width: 360px;
    }
}

@media screen and (min-width: 650px) {
    .container {
        width: 420px;
    }
}

@media screen and (min-width: 800px) {
    .container {
        width: 550px;
    }
}

@media screen and (min-width: 1000px) {
    .container {
        width: 750px;
    }
}

.container:hover {
    border: 3px;
    box-shadow: 0px 35px 40px black;
    transform: translateY(-7%);
}

.step {
    text-align: center;
    align-items: center;
    text-align: center;
}

.step h2 {
    margin-bottom: 50px;
    color: gold;
}

@media(min-width: 600px) {
    .step h2 {
        font-size: 22px;
    }
}

@media(min-width: 900px) {
    .step h2 {
        font-size: 27px;
    }
}

.step h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: blue;
    font-size: 28px;
}

@media(min-width: 600px) {
    .step h3 {
        font-size: 33px;
        margin-top: 30px;
    }
}
@media(min-width: 800px) {
    .step h3 {
        margin-top: 40px;
        font-size: 40px;
    }
}

@media(min-width: 900px) {
    .step h3 {
        font-size: 37px;
    }
}

.step p {
    font-size: 35px;
    color: rgb(112, 4, 4);
}

@media(min-width: 600px) {
    .step p {
        font-size: 20px;
        margin-top: 10px;
    }
}

@media(min-width: 900px) {
    .step p {
        font-size: 24px;
    }
}

.button {
    background-color: transparent;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    align-items: center;
    width: 150px;
    height: 120px;
}

@media screen and (min-width: 420px) {
    .container .button {
        width: 180px;
        height: 150px;
    }
}

@media screen and (min-width: 520px) {
    .container .button {
        width: 210px;
        height: 170px;
    }
}

@media screen and (min-width: 650px) {
    .container .button {
        width: 240px;
        height: 180px;
    }
}

@media screen and (min-width: 800px) {
    .container .button {
        width: 280px;
        height: 200px;
    }
}

@media screen and (min-width: 1000px) {
    .container .button {
        width: 450px;
        height: 300px;
    }
}

.button:hover {
    box-shadow: 0px 18px 22px rgb(0, 0, 34);
    transform: translateY(-6%);
}

.step img {
    width: 185px;
    height: 130px;
    align-items: center;
    display: flex;
    border-radius: 10px;    box-shadow: 4px 4px 12px black;
    display: flex;
    transition: all 400ms ease-out;
}

@media screen and (min-width: 420px) {
    .container .step img {
        width: 245px;
        height: 165px;
    }
}

@media screen and (min-width: 520px) {
    .container .step img {
        width: 325px;
        height: 190px;
    }
}

@media screen and (min-width: 650px) {
    .container .step img {
        width: 380px;
        height: 230px;
        align-items: center;
    }
}

@media screen and (min-width: 800px) {
    .container .step img {
        width: 510px;
        height: 260px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

@media screen and (min-width: 1000px) {
    .container .step img {
        width: 700px;
        height: 350px;
    }
}