.clients {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: center;
  margin: 60px 30px;
}

.client {
  margin-top: 20px;
  border: 2px solid blue;
  width: 220px;
  border-radius: 10px;
  background-color: black;
  text-align: center;
  align-items: center;
  margin-right: 5px;
  margin-left: 20px;
}
.client:hover {
  box-shadow: 0px 35px 40px black;
  transform: translateY(-5%);
  transition: 0.4s;
}
.client h2 {
  color: blue;
  font-size: 26px;
  margin-top:15px;
}
.client h3 {
  font-size: 20px;
  margin-top: 15px;
  margin: 10px 10px;
  color: gainsboro;
}
.client p {
  font-size: 17px;
  margin-left: 8px;
  margin-right: 8px;
  color: gainsboro;
}
.client img {
width: 200px;
height: 140px;
}
.client img:hover {
  width: 215px;
  height: 150px;
  transition: 0.2s;
}