.clients {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: center;
}

.client {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 15px;
  width: 210px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  align-items: center;
}
.client:hover {

}
.client h2 {
  color: blue;
  font-size: 26px;
  margin-top:15px;
  margin-bottom: 5px;
}
.client h3 {
  font-size: 20px;
  margin-top: 1px;
}
.client p {
  font-size: 18px;
  margin-left: 8px;
  margin-right: 8px;
}
.client img {
width: 200px;
height: 140px;
}
.client img:hover {
  width: 210px;
  height: 150px;
}