.arbol {
	align-items: center;
	margin-bottom: 10px;
	margin-top: 150px;
}
@media (min-width: 330px) {
	.arbol {
		margin-bottom: 100px;
	}
  }
  @media (min-width: 390px) {
	.arbol {
		margin-bottom: 200px;
		margin-top: -20px;
	}
  }
  @media (min-width: 412px) {
	.arbol {
		margin-bottom: 250px;
		margin-top: -80px;
	}
  }
  @media (min-width: 430px) {
	.arbol {
		margin-bottom: 280px;
		margin-top: -10px;
	}
  }
  @media (min-width: 720px) {
	.arbol {
		margin-bottom: 350px;
	}
  }
  @media (min-width: 820px) {
	.arbol {
		margin-bottom: 350px;
		margin-top: -160px;
	}
  }
  @media (min-width: 1024px) {
	.arbol {
		margin-bottom: 480px;
		margin-top: -200px;
	}
  }

@keyframes spin {
	0% { transform: rotateY( 0deg ); }
	100% { transform: rotateY( 360deg ); }
}



.tree {
	margin: 0 auto;
	position: relative;
	animation: spin 18s infinite linear;
	transform-origin: 50% 0;
	transform-style: preserve-3d;
}

.tree * {
	position: absolute;
	transform-origin: 0 0;
	margin-bottom: 100px;
}






