:root {
  --gold: gold;
  --scarlet: rgb(112, 4, 4);
  --gainsboro: gainsboro;
  --blue: blue;
  --oscuro: #000;
  --titulos: "Arima Madurai", cursive;
  --parrafos: "Mulish", sans-serif;
}

body {
  margin: 0;
  background-color: gainsboro;
}

html {
  box-sizing: border-box;
  margin: none;
  padding: 0;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
}

h1,
h2,
h3 {
  font-family: var(--titulos);
}

p {
  font-family: var(--parrafos);
}

.foto {
  max-width: 100%;
}

.gold {
  color: var(--gold);
}

.blue {
  color: var(--blue);
}

.scarlet {
  color: var(--scarlet);
}

.ocultar {
  display: none;
}

.btn-cerrar {
  font-size: 40px;
  color: var(--scarlet);
  position: absolute;
  right: 15px;
  top: 0;
  user-select: none;
}

.pantalla-completa {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(17, 16, 39, 0.5);
  z-index: 4;
  height: 110%;
}

@keyframes desplazamiento {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.btn-cerrar:hover {
  cursor: pointer;
}

.btn {
  text-decoration: none;
  font-size: 20px;
  text-transform: capitalize;
  padding: 1px 5px;
  border-radius: 15px;
  margin-top: 80px;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1600px) {
  .btn {
    font-size: 2.2rem;
  }
}

.bordes {
  border: 3px solid var(--scarlet);
}

@media (min-width: 1600px) {
  .bordes {
    border: 4px solid var(--gainsboro);
  }
}

.bordes:hover {
  color: var(--scarlet);
}

.btn-scarlet {
  background-color: var(--scarlet);
  font-weight: bold;
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn-gold {
  background-color: var(--gold);
  border: none;
  display: inline-block;
  margin-bottom: 2rem;
  font-family: var(--parrafos);
}

.btn-gold:hover {
  background-color: var(--scarlet);
}

.contenedor-navegacion {
  background-color: var(--oscuro);
  position: relative;
  z-index: 5;
}

.contenido-navegacion {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h2,
.navegacion a {
  color: var(--blue);
}

.logo h2 {
  font-size: 32px;
  margin-left: 15px;
}

@media (min-width: 600px) {
  .logo h2 {
    font-size: 37px;
    margin-left: 18px;
  }
}

@media (min-width: 800px) {
  .logo h2 {
    font-size: 42px;
    margin-left: 23px;
  }
}

@media (min-width: 999px) {
  .logo h2 {
    margin-left: 26px;
    font-size: 46px;
  }
}

@media (min-width: 1100px) {
  .logo h2 {
    margin-left: 30px;
    font-size: 50px;
  }
}

.navegacion a {
  text-decoration: none;
  font-size: 23px;
  padding: 18px;
  padding-left: 10px;
  display: block;
  transition: color 0.1s ease-in-out;
  text-align: center;
}

@media (min-width: 1768px) {
  .navegacion a {
    text-align: left;
  }
}

.navegacion a:nth-child(even):hover {
  color: var(--scarlet);
}

.navegacion a:nth-child(odd):hover {
  color: var(--gold);
}

.navegacion a:first-of-type {
  margin-top: 10px;
}

.navegacion {
  position: absolute;
  top: 35px;
  right: 0;
  bottom: 0;
  height: 400px;
  width: 20%;
  padding: 60px 50px;
  backdrop-filter: blur(25px);
  background-color: transparent;
  animation: desplazamiento 0.45s ease-in-out;
}

.hamburguesa span {
  background-color: var(--scarlet);
  display: block;
  width: 40px;
  height: 4px;
  margin-bottom: 6px;
  margin-right: 10px;
}

@media (min-width: 679px) {
  .hamburguesa span {
    width: 46px;
    margin-right: 20px;
  }
}

.hamburguesa:hover {
  cursor: pointer;
  transform: rotate(90deg);
  transition: 0.4s;
}
