.change {
    cursor: pointer;
    perspective: 210px;
    padding-top: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-change {

    --btn-height: 200px;
    --half-btn-height: calc(var(--btn-height) / 2);
    text-align: center;
    height: var(--btn-height);
    width: 320px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms ease-out;

    transform: translateZ(calc(-1 * var(--half-btn-height)));
}

.btn-change:hover {
    transform: rotateX(-90deg) translateY(var(--half-btn-height));
}

.side {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    backface-visibility: hidden;
}

.default-side {

    background-color: var(--gold);
    color: var(--blue);
    transform: translateZ(var(--half-btn-height));

}

.hover-side {
    color: gold;
    background-color: var(--scarlet);
    transform: rotateX(90deg) translateZ(var(--half-btn-height));
}
