::-webkit-scrollbar {
  width: 9px;
  background-color: hsl(222, 7%, 28%);
}

::-webkit-scrollbar-thumb {
  background-color: gold;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: blue;
}

.paypal {
  position: relative;
  background-color: rgb(20, 20, 20);
  margin-top: 100px;
  margin-bottom: -110px;
  padding: 30px 50px;
  text-align: center;
  align-items: center;
  color: gainsboro;
}
@media(min-width: 400px) {
  .paypal {
    padding: 32px 70px;
  }
}
@media(min-width: 500px) {
  .paypal {
    padding: 32px 100px;
  }
}
@media(min-width: 620px) {
  .paypal {
    padding: 32px 170px;
  }
}
@media(min-width: 750px) {
  .paypal {
    padding: 32px 210px;
  }
}
@media(min-width: 820px) {
  .paypal {
    padding: 32px 260px;
  }
}
@media(min-width: 900px) {
  .paypal {
    padding: 32px 320px;
  }
}
@media(min-width: 1050px) {
  .paypal {
    padding: 32px 420px;
  }
}
@media(min-width: 1200px) {
  .paypal {
    padding: 32px 500px;
  }
}
.paypal .paypal-container-VNXL96LFDDJBQ{

}


.pie-pagina {
  margin-top: 100px;
  background-color: rgb(20, 20, 20);
  padding: 1rem;
  color: gainsboro;
  text-align: center;
  align-items: center;
  font-family: var(--parrafos);
}

.pie-pagina p {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  word-spacing: 3px;
}

@media(min-width: 450px) {
  .pie-pagina p {
    font-size: 14px;
  }
}

@media(min-width: 680px) {
  .pie-pagina p {
    font-size: 15px;
  }
}

@media(min-width: 880px) {
  .pie-pagina p {
    font-size: 17px;
  }
}

@media (min-width: 1800px) {
  .contenedor-piepagina {
    display: flex;
    justify-content: space-between;
  }
}

.footer {
  text-align: center;
  background-color: var(--oscuro);
  color: var(--gainsboro);
  padding: 20px;
  letter-spacing: 1.2px;
  word-spacing: 3px;
  font-family: var(--titulos);
}

.footer h2 {
  font-size: 28px;
  margin-top: 10px;
}
@media(min-width: 450px) {
  .footer h2 {
    font-size: 32px;
  }
}

@media(min-width: 680px) {
  .footer h2 {
    font-size: 36px;
  }
}

@media(min-width: 880px) {
  .footer h2 {
    font-size: 40px;
  }
}

.footer h3 {
  font-size: 18px;
  margin-bottom: 18px;
}
@media(min-width: 380px) {
  .footer h3 {
    font-size: 19px;
  }
}
@media(min-width: 450px) {
  .footer h3 {
    font-size: 21px;
  }
}

@media(min-width: 680px) {
  .footer h3 {
    font-size: 23px;
  }
}

@media(min-width: 880px) {
  .footer h3 {
    font-size: 25px;
  }
}

.footer p {
  font-size: 18px;
  margin-top: 16px;
}
@media(min-width: 460px) {
  .footer p {
    font-size: 18px;
  }
}@media(min-width: 680px) {
  .footer p {
    font-size: 21px;
  }
}
@media(min-width: 880px) {
  .footer p {
    font-size: 23px;
  }
}