:root{
    --gold: gold;
    --scarlet: rgb(112, 4, 4);
    --gainsboro:gainsboro;
    --blue: blue;
    --oscuro:#000;
    --titulos:'Arima Madurai',cursive;
    --parrafos:'Mulish', sans-serif;
}
body {
    margin: 0;
    background-color: gainsboro;
}
html{
    box-sizing: border-box;
    margin: none;
    padding: 0;
}
/*globales*/
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}
h1,h2{
    font-family: var(--titulos);
}
h3, p, a{
    font-family: var(--titulos);
}
.foto {
    max-width: 100%;
}
.gold{
    color: var(--gold);
}
.blue{
    color: var(--blue);
}
.scarlet{
    color: var(--scarlet)
}
.ocultar{
    display: none;
}
.btn-cerrar{
    font-size: 3rem;
    font-weight: bold;
    color: var(--scarlet);
    position: absolute;
    top: 0;
    right: 60px;
    user-select: none;

}
.pantalla-completa{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 3;
}
@keyframes desplazamiento {
    0%{
        transform: translateX(100%);
    }

    100%{
        transform:translateX(0);
    }
}
.btn-cerrar:hover{
    cursor: pointer;
}
.btn{
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
    padding: 1px 5px;
    border-radius: 15px;
    margin-top: 80px;
    transition: all .3s ease-in-out;
}
@media(min-width: 1600px) {
    .btn{
        font-size: 2.2rem;
    }
}
.bordes{
    border: 3px solid var(--scarlet);
}
@media(min-width: 1600px) {
    .bordes{
        border: 4px solid var(--gainsboro);
    }
}
.bordes:hover{
    color: var(--scarlet);
}
.btn-scarlet{
    background-color: var(--scarlet);
    font-weight: bold;
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.btn-gold{
    background-color: var(--gold);
    border: none;
    display: inline-block;
    margin-bottom: 2rem;
    font-family: var(--parrafos);
}
.btn-gold:hover{
    background-color: var(--scarlet);
}
/*encabezado*/
.contenedor-navegacion{
    background-color: var(--oscuro);
    position: relative;
    z-index: 5;
  
}
.contenido-navegacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h2, .navegacion a {
  color: var(--blue);  
}
.logo h2{
    font-size: 46px;
    margin-left: 15px;
}
@media(min-width: 600px) {
    .logo h2 {
        font-size: 55px;
    }
}
@media(min-width: 800px) {
    .logo h2 {
        font-size: 60px;
    }
}
@media(min-width: 999px) {
    .logo h2 {
        margin-left: 20px;
        font-size: 65px;
    }
}
@media(min-width: 1100px) {
    .logo h2 {
        margin-left: 25px;
        font-size: 70px;
    }
}
.navegacion a{
    text-decoration: none;
    font-size: 40px;
    padding: 12px;
    padding-left: 7rem;
    display: block;
    transition: color .3s ease-in-out;
    text-align: center;
}
@media(min-width: 1768px) {
    .navegacion a{
        text-align: left;
    }
}


.navegacion a:nth-child(even):hover{
    color: var(--scarlet);
}
.navegacion a:nth-child(odd):hover{
    color: var(--gold);
}
.navegacion a:first-of-type{
    margin-top: 5rem;
}
.navegacion{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 1400px;
    width: 100%;
    padding: 50px 50px;
    backdrop-filter: blur(10px);
    background-color: transparent;
    animation: desplazamiento .5s ease-in-out;
}
.hamburguesa:hover{
    cursor: pointer;
}

.hamburguesa span{
    background-color: var(--scarlet);
    display: block;
    width: 50px;
    height: .4rem;
    margin-bottom: .5rem;
    margin-right: 15px;
}
@media(min-width: 666px) {
    .hamburguesa span {
        margin-right: 30px;
        width: 65px;
    }
}

.contenido-header::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
}

.texto-encabezado{
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.texto-encabezado h2{
    color: var(--blue);
    font-size: 46px;
    text-align: center;
    margin: 0px 1px;
}
    @media(min-width: 700px) {
        .texto-encabezado h2{
            font-size: 70px;
        }
    }

.texto-encabezado a{
    color: var(--scarlet);
    font-size: 30px;
    margin-top: 100px;
    padding: 10px 4px;
}
@media(min-width: 700px) {
    .texto-encabezado a{
        font-size: 50px;
    }
}

.change {
    perspective: 210px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-change {

    --btn-height: 200px;
    --half-btn-height: calc(var(--btn-height) / 2);
    text-align: center;
    height: var(--btn-height);
    width: 320px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;
    transform: translateZ(calc(-1 * var(--half-btn-height)));
}

.change .btn-change i {   
    padding-right: 20px;
}

.btn-change:hover {
    transform: rotateX(-90deg) translateY(var(--half-btn-height));
}

.side {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    backface-visibility: hidden;
} 

.default-side {

    background-color: var(--scarlet);
    color: var(--gold);
    transform: translateZ(var(--half-btn-height));

}

.hover-side {
    color: var(--scarlet);
    background-color: blue;
    transform: rotateX(90deg) translateZ(var(--half-btn-height));
}

.container {
    background-color: silver;
    margin: 50px auto;
    border-radius: 20px;
    padding: 10px 20px;
    border: 2px;
    width: 250px;
    box-shadow: 10px 10px 20px black;
    transition: all 400ms ease-out;
}
@media screen and (min-width: 420px) {
    .container {
        width: 285px;
    }
}
@media screen and (min-width: 520px) {
    .container {
        width: 360px;
    }
}
@media screen and (min-width: 650px) {
    .container {
        width: 440px;
    }
}
@media screen and (min-width: 800px) {
    .container {
        width: 500px;
    }
}
@media screen and (min-width: 1100px) {
    .container {
        width: 700px;
    }
}
.container:hover{
    border: 3px;
	box-shadow: 0px 35px 40px black;
	transform: translateY(-7%);
}   
.step {
    text-align: center;
    align-items: center;
}
.step h1 {
    font-size: 25px;
}
@media(min-width: 600px) {
    .step h1 {
        font-size: 30px;
    }
}
@media(min-width: 800px) {
    .step h1 {
        font-size: 40px;
    }
}
@media(min-width: 999px) {
    .step h1 {
        font-size: 50px;
    }
}

.step h2 {
    font-size: 21px;
    color: blue;
}
@media(min-width: 600px) {
    .step h2 {
        font-size: 26px;
    }
}
@media(min-width: 800px) {
    .step h2 {
        font-size: 35px;
    }
}
@media(min-width: 999px) {
    .step h2 {
        font-size: 40px;
    }
}
@media(min-width: 1100px) {
    .step h2 {
        font-size: 50px;
    }
}
.step h3 {
    color: blue;
    font-size: 22px;
}
@media(min-width: 600px) {
    .step h3 {
        font-size: 25px;
    }
}
@media(min-width: 800px) {
    .step h3 {
        font-size: 28px;
    }
}
@media(min-width: 999px) {
    .step h3 {
        font-size: 33px;
    }
}
@media(min-width: 1100px) {
    .step h3 {
        font-size: 37px;
    }
}
.step p {
    font-size: 15px;
}
@media(min-width: 600px) {
    .step p {
        font-size: 18px;
    }
}
@media(min-width: 800px) {
    .step p {
        font-size: 21px;
    }
}
@media(min-width: 999px) {
    .step p {
        font-size: 25px;
    }
}
@media(min-width: 1100px) {
    .step p {
        font-size: 29px;
    }
}

.step a {
    color: blue;
}
.button {
    cursor: pointer;
    background-color: silver;
    margin: 0px 5px;
    border-radius: 20px;
    padding: 0px 5px;
    border: 10px;
    min-width: 150px;
    min-height: 120px;
    box-shadow: 4px 4px 12px blue;
    display: flex;
    transition: all 400ms ease-out;
}
.button:hover{
    box-shadow: 0px 18px 22px blue;
    transform: translateY(-6%);
}  

.container .step .send {
    margin-top: 20px;
    width: 130px;
    height: 110px;
    background-color: gold;
    cursor: pointer;
}
@media(min-width: 600px) {
    .container .step .send {
        width: 140px;
        height: 130px;
    }
}
@media(min-width: 800px) {
    .container .step .send {
        width: 165px;
        height: 140px;
    }
}
@media(min-width: 999px) {
    .container .step .send {
        width: 190px;
        height: 160px;
    }
}
@media(min-width: 1100px) {
    .container .step .send {
        width: 200px;
        height: 180px;
    }
}

.container .step .send:hover {
    background-color: var(--scarlet);
}

.container .step .send h3 {
    font-size: 30px;
    text-align: center;
    align-items: center;
}
@media(min-width: 600px) {
    .container .step .send h3 {
        font-size: 40px; 
    }
}
@media(min-width: 800px) {
    .container .step .send h3 {
        font-size: 50px;
    }
}
@media(min-width: 999px) {
    .container .step .send h3 {
        font-size: 60px;
    }
}
@media(min-width: 1100px) {
    .container .step .send h3 {
        font-size: 70px;
    }
}

 

::-webkit-scrollbar{
    width: 13px;
    background-color: hsl(222, 7%, 28%);
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: silver;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background-color: black;
  }

  .pie-pagina{
    font-size: 12px;
    margin-top: 1rem;
    background-color: rgb(20,20,20);
    padding: 1rem;
    color: gainsboro;
    text-align: center;
}
@media(min-width:1800px){
    .contenedor-piepagina{
        display: flex;
        justify-content: space-between;
    }
}
.info{
    flex: 0 0 calc(25% - 1rem);
    margin-bottom: 1rem;
}
.info h3, a, .info p{
    color: var(--gainsboro);
    text-align: center;
    font-family: var(--titulos);

}
.redes-pie{
    text-align: center;
}
.footer{
    text-align: center;
    background-color: var(--oscuro);
    color: var(--gainsboro);
    padding: 2rem;
    font-size: 15px;
}