:root{
    --gold: gold;
    --scarlet: rgb(112, 4, 4);
    --gainsboro:gainsboro;
    --blue: blue;
    --oscuro:#000;
    --titulos:'Arima Madurai',cursive;
    --parrafos:'Mulish', sans-serif;
}
body {
    margin: 0;
    background-color: gainsboro;
}
html{
    box-sizing: border-box;
    margin: none;
}
/*globales*/
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}
h1,h2{
    font-family: var(--titulos);
}
h3, p, a{
    font-family: var(--titulos);
}
.foto {
    max-width: 100%;
}
.gold{
    color: var(--gold);
}
.blue{
    color: var(--blue);
}
.scarlet{
    color: var(--scarlet)
}
.ocultar{
    display: none;
}
.btn-cerrar{
    font-size: 3rem;
    font-weight: bold;
    color: var(--scarlet);
    position: absolute;
    top: 0;
    right: 60px;
    user-select: none;

}
.pantalla-completa{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 3;
}
@keyframes desplazamiento {
    0%{
        transform: translateX(100%);
    }

    100%{
        transform:translateX(0);
    }
}
.btn-cerrar:hover{
    cursor: pointer;
}
.btn{
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
    padding: 1px 5px;
    border-radius: 15px;
    margin-top: 80px;
    transition: all .3s ease-in-out;
}
@media(min-width: 1600px) {
    .btn{
        font-size: 2.2rem;
    }
}
.bordes{
    border: 3px solid var(--scarlet);
}
@media(min-width: 1600px) {
    .bordes{
        border: 4px solid var(--gainsboro);
    }
}
.bordes:hover{
    color: var(--scarlet);
}
.btn-scarlet{
    background-color: var(--scarlet);
    font-weight: bold;
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.btn-gold{
    background-color: var(--gold);
    border: none;
    display: inline-block;
    margin-bottom: 2rem;
    font-family: var(--parrafos);
}
.btn-gold:hover{
    background-color: var(--scarlet);
}
/*encabezado*/
.contenedor-navegacion{
    background-color: var(--oscuro);
    position: relative;
    z-index: 5;
  
}
.contenido-navegacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h2, .navegacion a {
  color: var(--gainsboro);  
}
.logo h2{
    font-size: 3rem;
}
.navegacion a{
    text-decoration: none;
    font-size: 2.2rem;
    padding: 1.5rem;
    padding-left: 4rem;
    display: block;
    transition: color .3s ease-in-out;
    text-align: center;
}

@media(min-width: 768px) {
    .navegacion a{
        text-align: left;
    }
}


.navegacion a:nth-child(even):hover{
    color: var(--blue);
}
.navegacion a:nth-child(odd):hover{
    color: var(--gold);
}
.navegacion a:first-of-type{
    margin-top: 5rem;
}
.navegacion{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 320px;
    padding: 50px 50px;
    background-color: var(--oscuro);
    animation: desplazamiento .5s ease-in-out;
}

.hamburguesa:hover{
    cursor: pointer;
}

.hamburguesa span{
    background-color: var(--scarlet);
    display: block;
    width: 45px;
    height: .5rem;
    margin-bottom: .4rem;
}

.info-contact{
    background-color: silver;
    margin: 20px auto;
    border: 300px 400px;
    border-radius: 20px;
    padding: 30px 15px;
    min-width: 100px;
    max-width: 400px;
    min-height: 300px;
    max-height: 600px;
    box-shadow: 2px 2px 20px black;
}
.info-contact h2 {
    font-size: 30px;
    text-align: center;
}
.info-contact p{
    font-size: 16px;
    text-align: center;
}
.info-contact h3{
    text-align: center;
    color: blue;
    font-size: 13px;
}
.info-contact h1{
    text-align: center;
    font-size: 36px;
    cursor: pointer;
    color: blue;
    background-color: silver;
    margin: 0 120px;
    padding: 0 auto;
}
.form h1{
    text-align: center;
    font-size: 25px;
}
.form h3{
    text-align: center;
    font-size: 15px;
}
.message{
    background-color: silver;
    margin: 50px auto;
    border-radius: 20px;
    padding: 15px 25px;
    border: 10px;
    min-width: 100px;
    max-width: 350px;
    min-height: 300px;
    max-height: 700px;
    box-shadow: 2px 2px 20px black;
}

.info-content h3{
    text-align: center;
    align-items: center;
}

.pie-pagina{
    background-color: rgb(20,20,20);
    padding: 12px;
}
.navigation h3{
    color: gold;
    font-size: 16px;
    text-align: center;
}
.footer{
    text-align: center;
    background-color: var(--oscuro);
    color: var(--gainsboro);
    padding: 2rem;
    font-size: 15px;
}