:root {
  --gold: gold;
  --scarlet: rgb(112, 4, 4);
  --gainsboro: gainsboro;
  --blue: blue;
  --oscuro: #000;
  --titulos: "Arima Madurai", cursive;
  --parrafos: "Mulish", sans-serif;
}

body {
  margin: 0;
  line-height: 1.5;
}

html {
  box-sizing: border-box;
  margin: none;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: var(--titulos);
}

p,
a {
  font-family: var(--titulos);
}

.foto {
  max-width: 100%;
}

.gold {
  color: var(--gold);
}

.blue {
  color: var(--blue);
}

.scarlet {
  color: var(--scarlet);
}

/*video*/
video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.contenido-header {
  position: relative;
  height: 100vh;
}

.contenido-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
}

.texto-encabezado {
  position: absolute;
  z-index: 2;
  width: 100%;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  word-spacing: 2px;
  letter-spacing: 1px;
}

@media(min-width: 680px) {
  .texto-encabezado {
    margin-top: 85px;
  }
}

.texto-encabezado h1 {
  color: gainsboro;
  text-align: center;
  font-size: 35px;
}

@media(min-width: 680px) {
  .texto-encabezado h1 {
    font-size: 40px;
  }
}

.texto-encabezado h2 {
  color: gainsboro;
  text-align: center;
  font-size: 28px;
  margin-top: 15px;
}

@media(min-width: 680px) {
  .texto-encabezado h2 {
    font-size: 34px;
  }
}

.texto-encabezado .committersbadg {
  display: flex;
  text-align: center;
  font-size: 40px;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px 0;
}

@media(min-width: 680px) {
  .texto-encabezado .committersbadg {
    font-size: 50px;
  }
}

.texto-encabezado h3 {
  color: gold;
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
}

@media(min-width: 680px) {
  .texto-encabezado h3 {
    font-size: 28px;
  }
}

.texto-encabezado .buttons-header {
  align-items: flex-start;
  margin-top: 60px;
  margin-left: 10px;
}

@media(min-width: 680px) {
  .texto-encabezado .buttons-header {
    margin-top: 70px;
  }
}

@media(min-width: 900px) {
  .texto-encabezado .buttons-header {
    margin-top: 50px;
  }
}

.texto-encabezado .buttons-header a {
  margin-bottom: 5px;
  margin-right: 20px;
  border: 2px solid blue;
  border-radius: 10px;
}

.texto-encabezado .buttons-header h3 {
  padding: 5px 12px;
  color: rgb(112, 4, 4);
  margin-top: 5px;
  font-size: 24px;
}

.texto-encabezado .buttons-header h3:hover {
  font-size: 28px;
}

@media(min-width: 450px) {
  .texto-encabezado .buttons-header h3 {
    font-size: 26px;
    padding: 10px 20px;
  }
}

@media(min-width: 450px) {
  .texto-encabezado .buttons-header h3:hover {
    font-size: 30px;
  }
}

@media(min-width: 610px) {
  .texto-encabezado .buttons-header h3 {
    font-size: 28px;
    padding: 15px 25px;
  }
}

@media(min-width: 610px) {
  .texto-encabezado .buttons-header h3:hover {
    font-size: 32px;
  }
}

@media(min-width: 780px) {
  .texto-encabezado .buttons-header h3 {
    padding: 15px 30px;
    font-size: 32px;
  }
}

@media(min-width: 780px) {
  .texto-encabezado .buttons-header h3:hover {
    font-size: 36px;
  }
}

@media(min-width: 1080px) {
  .texto-encabezado .buttons-header h3 {
    padding: 15px 36px;
    font-size: 36px;
  }
}

@media(min-width: 1080px) {
  .texto-encabezado .buttons-header h3:hover {
    font-size: 40px;
  }
}

.neon {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  transition: 0.001s;
}

@media (min-width: 340px) {
  .neon {
    font-size: 25px;
  }
}

.neon:hover {
  color: blue;
  background: #80c0f5;
  box-shadow: 0 0 10px #58adf1, 0 0 40px #58adf1, 0 0 80px #58adf1;
  transition-delay: 0.6s;
}

.neon span {
  position: absolute;
  display: block;
}

a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 115px;
  background: linear-gradient(90deg, transparent, #2196f3);
}

.neon:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.neon span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}

.neon:hover span:nth-child(2) {
  left: 100%;
  transition: 1s;
  transition-delay: 0.15s;
}

.neon span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}

.neon:hover span:nth-child(3) {
  left: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.neon span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(270deg, transparent, #2196f3);
}

.neon:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

.proyects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 80px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

@media (min-width: 510px) {
  .proyects {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (min-width: 600px) {
  .proyects {
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media (min-width: 750px) {
  .proyects {
    margin-left: 90px;
    margin-right: 90px;
  }
}

@media (min-width: 900px) {
  .proyects {
    margin-left: 120px;
    margin-right: 120px;
  }
}

@media (min-width: 1024px) {
  .proyects {
    margin-left: 180px;
    margin-right: 180px;
  }
}

.proyects .proyect {
  flex: 0 0 calc(25% - 2px);
  border: 2px solid blue;
  border-radius: 10px;
  background-color: transparent;
  backdrop-filter: blur(100px);
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.proyects .proyect img {
  width: 90px;
  height: 80px;
  margin-top: 15px;
  margin-bottom: 5px;
}

@media (min-width: 500px) {
  .proyects .proyect img {
    width: 95px;
  }
}

@media (min-width: 650px) {
  .proyects .proyect img {
    height: 85px;
  }
}

@media (min-width: 770px) {
  .proyects .proyect img {
    width: 100px;
  }
}

@media (min-width: 950px) {
  .proyects .proyect img {
    height: 95px;
    width: 105px;
  }
}

@media (min-width: 1024px) {
  .proyects .proyect img {
    height: 100px;
    width: 120px;
  }
}

.examples {
  margin-top: 100px;
  letter-spacing: 1.2px;
  word-spacing: 3px;
}

.texto-nosotros .bienvenida {
  font-size: 32px;
  color: gainsboro;
  text-align: center;
}

@media (min-width: 666px) {
  .texto-nosotros .bienvenida {
    font-size: 36px;
  }
}

@media (min-width: 996px) {
  .texto-nosotros .bienvenida {
    font-size: 40px;
  }
}

.texto-nosotros h3 {
  font-size: 20px;
  text-align: center;
  color: gold;
}

@media (min-width: 700px) {
  .texto-nosotros h3 {
    font-size: 25px;
  }
}

@media (min-width: 996px) {
  .texto-nosotros h3 {
    font-size: 32px;
  }
}

.glow-on-hover {
  margin: 50px auto;
  align-items: center;
  width: 300px;
  height: 230px;
  border: none;
  outline: none;
  background-color: #000;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-top: 100px;
}

@media screen and (min-width: 440px) {
  .glow-on-hover {
    width: 360px;
    height: 240px;
  }
}

@media screen and (min-width: 530px) {
  .glow-on-hover {
    width: 420px;
    height: 260px;
  }
}

@media screen and (min-width: 600px) {
  .glow-on-hover {
    width: 500px;
    height: 320px;
  }
}

@media screen and (min-width: 900px) {
  .glow-on-hover {
    width: 650px;
    height: 380px;
  }
}

@media screen and (min-width: 1200px) {
  .glow-on-hover {
    width: 850px;
    height: 480px;
  }
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #00ffd5,
      #48ff00,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(30px);
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 5px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.pic-proyect {
  background-color: silver;
  margin: 0px auto;
  margin-top: 50px;
  border-radius: 20px;
  padding: 0px 5px;
  border: 10px;
  max-width: 300px;
  min-height: 120px;
  max-height: 220px;
  box-shadow: 2px 2px 40px black;
  display: flex;
}

@media screen and (min-width: 440px) {
  .glow-on-hover img {
    width: 360px;
    height: 240px;
  }
}

@media screen and (min-width: 530px) {
  .glow-on-hover img {
    width: 420px;
    height: 260px;
  }
}

@media screen and (min-width: 600px) {
  .glow-on-hover img {
    width: 500px;
    height: 320px;
  }
}

@media screen and (min-width: 900px) {
  .glow-on-hover img {
    width: 650px;
    height: 380px;
  }
}

@media screen and (min-width: 1200px) {
  .glow-on-hover img {
    width: 850px;
    height: 480px;
  }
}

.button-2 {
  position: 100%;
}

.updown-hover {
  position: fixed;
  text-align: center;
  font-size: 42px;
  font-family: Arial black;
  color: hsl(133, 80%, 50%);
  width: 350px;
  height: 100px;
  text-transform: uppercase;
  text-shadow: 0px 5px hsl(125, 80%, 30%), 0px 10px 10px rgba(14, 201, 23, 0.2);
  box-shadow: 0px 0px 0px 15px hsl(128, 90%, 50%),
    0px 10px 0px 15px hsl(135, 80%, 32%),
    0px 20px 20px 15px rgba(51, 194, 16, 0.2);
  cursor: pointer;
  border-radius: 100px 30px 100px 30px;
}

.updown-hover p {
  margin-top: 20px;
  transform: rotate(-3deg);
}

.updown-hover:hover {
  animation: 0.8s morph ease infinite;
}

.updown-hover:hover p {
  animation: 0.8s rot ease infinite;
}

@keyframes morph {
  0% {
    border-radius: 100px 30px 100px 30px;
  }

  50% {
    border-radius: 30px 100px 30px 100px;
  }

  100% {
    border-radius: 100px 30px 100px 30px;
  }
}

@keyframes rot {
  0% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}